.main-panel{
    line-height: 1.7;
    padding: 2px 0px;
    box-sizing: border-box;
}

.illustration{
    height: 340px;
    background-color: white;
    text-align: center;
    margin-top: 5px;
}
.illustration img{
    height: 320px;
}

.legend-wrapper{
    text-align: center;
}
.legend{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 5px;
    box-sizing: border-box;
    height: 110px;
}
.title{
    font-size: 24px;
}
.body{
    font-size: 16px;
    color: rgba(230,230,230,1);
}
.link-wrapper{
    margin-top: 10px;
}
.link-wrapper a{
    padding: 8px;
    color: white;
    background-color: #D93240;
    text-decoration: none;
    font-size: 16px;
}
.link-wrapper a:visited{
    color: white;
}
@media(min-width: 375px){
    .main-panel{
        line-height: 1.8;
    }
   .illustration{
        height: 400px;
    }
    .illustration img{
        height: 350px;
    } 
    .legend{
        height: 135px;
    }
    .body{
        font-size: 20px;
    }
    .title{
        font-size: 28px;
    }
    .link-wrapper{
        margin-top: 15px;
    }
    .link-wrapper a{
        font-size: 18px;
    }
}
@media (min-width: 414px){
    .illustration{
        height: 450px;
    }
    .illustration img{
        height: 400px;
    } 
    .legend{
        height: 150px;
    }
    .body{
        font-size: 24px;
    }
    .title{
        font-size: 32px;
    }
    .link-wrapper{
        margin-top: 18px;
    }
    .link-wrapper a{
        font-size: 23px;
    }
}
@media(min-width: 500px){
    .illustration{
        height: 400px;
    }
}
@media (min-width: 805px){
    .main-panel{
        display: flex;
        height: 100vh;
        width: 100%;
        max-height: 550px;
        padding: 0;
        max-width: 900px;
    }
    .illustration{
        padding: 0;
        width: 100%;
        margin: 0;
        flex: 1;
        height: 100%;
    }
    .illustration img{
        margin-top: 5%;
        height: 90%;
        min-height: 400px;
    } 
    .legend-wrapper{
        display: flex;
        flex-direction: column;
        justify-content:center;
        height: 100%;
        width: 100%;
        flex: 1;
    }
}